{%extends "layout.html"%}
{% block content %}

<div class="contact-container">
    <h1>Get in touch with Casey...</h1><br>
    <br>
    <p>
        I would love to connect with you! Please reach out to me via one of the medias below or shoot me an email at <a href="mailto: cjmasamitsu@gmail.com">cjmasamitsu@gmail.com</a>.
    </p>


    <a href="https://www.github.com/cjmasamitsu" class="fa fa-github fa-3x" target = "_blank"></a>
    <a href="https://www.linkedin.com/in/cjmasamitsu/" class="fa fa-linkedin fa-3x" target = "_blank"></a>
    <a href="https://medium.com/@cjmasamitsu" class="fa fa-medium fa-3x" target = "_blank"></a>
    <a href="https://twitter.com/cjmasamitsu" class="fa fa-twitter fa-3x"target = "_blank"></a>
    <a href="https://instagram.com/cjmasamitsu" class="fa fa-instagram fa-3x" target = "_blank"></a>
    <a href="mailto: cjmasamitsu@gmail.com" class="fa fa-envelope fa-3x" target = "_blank"></a>

    </div>


{%endblock%}