{%extends "layout.html"%}
{% block content %}

<div class="contact-container">
    <h2>Hey there! Let's connect.</h2><br>
    <p>
        I love making new friends, talking about data, discussing favorite bands, or upcoming travel plans. Don't hesitate to reach connect with me! You can find me below on GitHub, LinkedIn, Medium, Twitter, Instagram, or via email at <a href="mailto: cjmasamitsu@gmail.com">cjmasamitsu@gmail.com</a>. <br>
        <br>
        In addition, if you are a business, I would be more than happy to help you with your next data project. Shoot me at email, and we can discuss the specifics!
    </p>


    <a href="https://www.github.com/cjmasamitsu" class="fa fa-github fa-3x" target = "_blank"></a>
    <a href="https://www.linkedin.com/in/cjmasamitsu/" class="fa fa-linkedin fa-3x" target = "_blank"></a>
    <a href="https://medium.com/@cjmasamitsu" class="fa fa-medium fa-3x" target = "_blank"></a>
    <a href="https://twitter.com/cjmasamitsu" class="fa fa-twitter fa-3x" target = "_blank"></a>
    <a href="https://instagram.com/cjmasamitsu" class="fa fa-instagram fa-3x" target = "_blank"></a>
    <a href="mailto: cjmasamitsu@gmail.com" class="fa fa-envelope fa-3x" target = "_blank"></a>

    </div>


{%endblock%}