{%extends "layout.html"%}
{% block content %}

<div class="contact-container">
    <h2>Let's connect.</h2><br>
    <p>
        For more of my work, feel free to check out my <a href="https://www.github.com/cjmasamitsu" target="_blank">GitHut</a>, <a href="https://www.linkedin.com/in/cjmasamitsu/" target="_blank">LinkedIn</a>, or <a href="/portfolio" target="_blank">porftolio</a>. You can also reach out via email at <a href="mailto: cjmasamitsu@gmail.com">cjmasamitsu@gmail.com</a>. <br>
  </p>


    <a href="https://www.github.com/cjmasamitsu" class="fa fa-github fa-3x" target = "_blank"></a>
    <a href="https://www.linkedin.com/in/cjmasamitsu/" class="fa fa-linkedin fa-3x" target = "_blank"></a>
    <a href="mailto: cjmasamitsu@gmail.com" class="fa fa-envelope fa-3x" target = "_blank"></a>

    </div>


{%endblock%}