{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block section %}

    <section class="home-content">
        <div class="outerdiv">
            <div class="leftdiv">
                <div class="text-left">
                    <h2 class="about-header">Nice to meet you, I'm Casey.</h2>
                    <p>I live in New York City with my partner and my dog. I like extracting actionable insights from data, listening to music, playing games, and traveling.</p>
                    <br>
                    Scroll down to get to know me better and take a look around my portfolio to see what I have been up to while in in school.<br>
                    <br>
                    <img src ="static\img\caseyandhastings.jpg" height = "275px" width = "375px" align = "center">
                </div>
                <br>
            </div>
        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                        <h2>Currently, I am...</h2>
                            <p>
                                a Technical Project Manager and licensed Financial Advisor at a FinTech company offering digital banking solutions to not-for-profit credit unions.
                            </p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2020</h2>
      <p>In response to the reignited fight for racial justice, I co-founded Creating for Justice, a 501(c)(3) organization. Creating for justice is a coalition of volunteers who provide artistic and other professional services to raise money for anti-racist organizations. In addition, I was accepted to Johns Hopkins University to pursue a Masters of Science in Data Analytics and Policy.</p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>2017</h2>
      <p>While working for Chase, I was transferred to NYC. In August of 2017, I transitioned into FinTech and began working at Access Softek. Through Access Softek, I obtained my PMP and Series 65 Financial Advisor license.</p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2014</h2>
      <p>In 2014, I moved to Austin, Texas and became a Private Client Banker at JPMorgan Chase.</p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>2013</h2>
      <p>After high school, I moved to Ames and attended Iowa State University, eventually obtaining a Bachelors of Arts in Advertising with a minor in Psychology. In my tenure at Iowa State, I also spent a year as an exchange student at Texas State University. I graduated in May of 2013.</p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                    <h2>2009</h2>
                    <p>I grew up in a rural Iowan town called Ogden. While in school, I participated in cross country and golf. I graduated in 2009.</p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                    <h2>1990</h2>
                    <p>Born in Ames, Iowa</p>
                </div>
            </div>
                </div>
            <div style="clear: both;"></div>
      </div>

    </section>

{% endblock %}