{%extends "layout.html"%}
{% block content %}

<div class="home">
  <h1>Presently I'm...</h1>
  <p>Wearing a lot of hats. :) I live in New York City 🏙️ with my partner and my dog. I like extracting actionable insights from data, listening to music, playing games, and traveling the world.
<br>
<br>
Currently, I'm a graduate student at Johns Hopkins University 🏫, pursuing my MS in Data Analytics and Policy. As the amount of data available to us accumulates exponentially, I believe we have a responsibility to use it responsibly to make he world a better place. Take a look around my repositories to see what I have been up to while in in school. 👀
<br>
<br>
By day, I am a Technical Project Manager and licensed Financial Advisor at a FinTech company offering digital banking solutions to not-for-profit credit unions.</p>
</div>
<br>
<br>
<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>Today</h2>
      <p>place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text  </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>2020</h2>
      <p>place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text  </p>
    </div>
  </div>
    <div class="container left">
    <div class="content">
      <h2>2017</h2>
      <p>moved to new york city, started at access softek</p>
    </div>
  </div>
    <div class="container right">
    <div class="content">
      <h2>2014</h2>
      <p>moved to austin texas, became a banker</p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>2013</h2>
      <p>graduated from iowa state</p>
    </div>
  </div>
    <div class="container right">
    <div class="content">
      <h2>2009</h2>
      <p>should high school even be on here lolfasdfsdfdsfadsfadsfsdfsdafasdfasdfasdfadsfadsfasdfadsfadsf dsf sdfas fdsfdsf dsa f ads</p>
    </div>
  </div>
    <div class="container left">
    <div class="content">
      <h2>1990</h2>
      <p>born in ames iowa</p>
    </div>
  </div>
</div>
{%endblock%}

