{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block section %}

    <section class="home-content">
        <div class="outerdiv">
            <div class="leftdiv">
                <div class="text-left1">
                    <h2 class="about-header">Nice to meet you, I'm Casey.</h2>
                    <p>I live in New York City with my partner and my dog. I like extracting actionable insights from data, listening to music, playing games, and traveling.</p>
                    <br>
                    Scroll down to get to know me better and take a look around my portfolio to see what I have been up to while in in school.<br>
                    <br>
                    <img src ="static\img\caseyandhastings.jpg" height = "275px" width = "375px" align = "center">
                </div>
                <br>
            </div>
        <div class="timeline">
            <div class="container-timeline left">
                <div class="content">
                        <h2>Currently, I am...</h2>
                            <p>
                                a Technical Project Manager and licensed Financial Advisor at a FinTech company offering digital banking solutions to not-for-profit credit unions.
                            </p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2020</h2>
      <p>place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text place holder text  </p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>2017</h2>
      <p>moved to new york city, started at access softek</p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                        <h2>2014</h2>
      <p>moved to austin texas, became a banker</p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                        <h2>2013</h2>
      <p>graduated from iowa state</p>
                </div>
            </div>
            <div class="container-timeline right">
                <div class="content">
                    <h2>2009</h2>
                    <p>in 2009, I graduated from high school</p>
                </div>
            </div>
            <div class="container-timeline left">
                <div class="content">
                    <h2>1990</h2>
                    <p>born in ames, ia</p>
                </div>
            </div>
                </div>
            <div style="clear: both;"></div>
      </div>

    </section>

{% endblock %}