{%extends "layout.html"%}
{% block content %}

<div class="portfolio-header">
<h2>Portfolio</h2>
<p>Hi there! Welcome to my portfolio. Take a look around to see what I have been up to while in school.</p>
</div>
<!-- Portfolio Gallery Grid -->

<!-- Row 1 -->
<div class="row">
  <div class="column">
    <div class="port-content">
      <p style ="font-size: 1.7em;
    font-weight: 100;
    margin-top: 20px;
    text-align: center;
    letter-spacing: -1px;
    color: #282830;"><b>The Unequal Consequences of COVID-19 <br>
          <a href="https://cjmasamitsu.shinyapps.io/neubauer_final/?_ga=2.29622714.428708352.1641949332-489713351.1641680265" target="_blank">RShiny Dashboard</a></b></p>
      <img src="/static/img/uneq_cons.png" alt="image1" style="width:100%" class="image">
        <div class="middle">
            <a href="https://github.com/cjmasamitsu/unequal-consequences-of-covid19/blob/main/rshiny_portfolio.R" target="_blank"><div class="text">Code (COMING SOON)</div></a>
        </div>
        <br>
        <p>For this Data Visualization project, I created an RShiny dashboard demonstrating the unequal consequences of COVID-19. This was created using mostly ggplot, plotly, RShiny, and the tidyverse packages.</p>
    </div>
  </div>

  <div class="column">
    <div class="port-content">
      <p style ="font-size: 1.7em;
    font-weight: 100;
    margin-top: 20px;
    text-align: center;
    letter-spacing: -1px;
    color: #282830;">Willingness to Participate in US Census by Party Affiliation<br>
      <img src="/static/img/python_census.png" alt="image2" style="width:100%" class="image">
        <div class="middle">
            <a href="https://github.com/cjmasamitsu/willingness-to-participate-in-census-analysis/blob/main/masamitsu_final_project.ipynb" target="_blank"><div class="text">Code (COMING SOON)</div></a>
        </div>
        <br>
        <p>In this analysis I used Python to quantify the relationship between an individual's willingness to participate in the United States Census and their political party affiliation. To conduct the analysis, I used scikit-learn, matplotlib, Pandas, NumPy, and seaborn.</p>
    </div>
  </div>
</div>

<!-- Row 2 TBD
<div class="row">
  <div class="column">
    <div class="port-content">
      <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
  <div class="column">
    <div class="port-content">
    <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
</div>-->

<!-- Row 3 TBD
<div class="row">
  <div class="column">
    <div class="port-content">
      <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
  <div class="column">
    <div class="port-content">
    <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
</div>-->

<!-- Row 4 TBD
<div class="row">
  <div class="column">
    <div class="port-content">
      <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
  <div class="column">
    <div class="port-content">
    <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
</div>-->

<!-- Row 5 TBD
<div class="row">
  <div class="column">
    <div class="port-content">
      <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
  <div class="column">
    <div class="port-content">
    <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
</div>-->
<!-- END GRID -->




{%endblock%}