{%extends "layout.html"%}
{% block content %}

<div class="portfolio-header">

<h2>Portfolio</h2>
    <div class="jhu">
<img src="/static/img/jhu_logo.jpg" style="float: right;">
    </div>
<p style="text-align: justify;">There are myriad complex issues facing people today. Yet, data, in responsible hands, offers a solution to everything from cybersecurity to social (in)justice. That is why I initially pursued an M.S. in Data Analytics and Policy: to do my part in solving contemporary issues in a way that is evidence-based and equitable. &#x1F3EB Crucially, this framework can—and should!—be applied to every industry. <br>
<br>
Approaching the end of my graduate program, below you’ll find a list of my completed coursework and accompanying projects. Please note, this list and portfolio are non-exhaustive and updated on regular basis.

    <ul>
    <li>Probability and Statistics</li>
    <li>Programming and Data Management</li>
    <li>Data Visualization</li>
    <li>Urban Data Analytics</li>
    <li>Data Science for Public Policy</li>
    <li>Unleashing Open Data With Python</li>
    <li>Machine Learning and Neural Networks <i>(Present)</i></li>
    <li>Text as Data <i>(Present)</i></li>
</ul>

    Feel free to peruse some of the work I have completed at Johns Hopkins below. &#x1F4AA <br>
    <br>
</div>

<!-- Portfolio Gallery Grid -->

<!-- Row 1 -->
<div class="row">
  <div class="column">
    <div class="port-content">
      <h3>
          <a href="https://cjmasamitsu.shinyapps.io/neubauer_final/?_ga=2.29622714.428708352.1641949332-489713351.1641680265" target="_blank">The Unequal Consequences of COVID-19 <br>RShiny Dashboard</a></h3>
        <img src="/static/img/uneq_cons.png" class="image">
        <br>
                <div class='buttons'>
            <a class="port-buttons show-mobile" href="https://cjmasamitsu.shinyapps.io/neubauer_final/?_ga=2.29622714.428708352.1641949332-489713351.1641680265" target="_blank">Project</a>
            <a class="port-buttons show-mobile" href="https://github.com/cjmasamitsu/unequal-consequences-of-covid19/blob/main/rshiny_portfolio.R" target="_blank">Code</a>
        </div>

        <div class="middle">
            <a href="https://github.com/cjmasamitsu/unequal-consequences-of-covid19/blob/main/rshiny_portfolio.R" target="_blank"><div class="text">Code</div></a>
        </div>
        <br>
        <p>For this Data Visualization project, I created an RShiny dashboard demonstrating the unequal consequences of COVID-19.<br>
            <br>
        <b>Skills</b>: R, RShiny, regression, ggplot2, tidyverse, packcircles, HTML, plotly, gganimate, dplyr, Inkscape, data wrangling</p>
    </div>
  </div>

  <div class="column">
    <div class="port-content">
      <h3><a href="https://nbviewer.org/github/cjmasamitsu/willingness-to-participate-in-census-analysis/blob/main/masamitsu_final_project.ipynb" target="_blank">Willingness to Participate in US Census by Party Affiliation</a><br></h3>
      <img src="/static/img/python_census.png" class="image">
        <br>
                <div class='buttons'>
            <a class="port-buttons show-mobile" href="https://nbviewer.org/github/cjmasamitsu/willingness-to-participate-in-census-analysis/blob/main/masamitsu_final_project.ipynb" target="_blank">Project</a>
            <a class="port-buttons show-mobile" href="https://github.com/cjmasamitsu/willingness-to-participate-in-census-analysis/blob/main/masamitsu_final_project.ipynb" target="_blank">Code</a>
        </div>
        <div class="middle">
            <a href="https://github.com/cjmasamitsu/willingness-to-participate-in-census-analysis/blob/main/masamitsu_final_project.ipynb" target="_blank"><div class="text">Code</div></a>
        </div>
        <br>
        <p>In this analysis I used Python to quantify the relationship between an individual's willingness to participate in the United States Census and their political party affiliation.<br>
            <br>
        <b>Skills</b>: Python, Jupyter Notebook, statistical analysis, regression, scikit-learn, matplotlib, Pandas, NumPy, seaborn, HTML, Javascript</p>
    </div>
  </div>
</div>

<!-- Row 2 -->
<div class="row">
  <div class="column">
    <div class="port-content">
      <h3><a href="https://cjmasamitsu.com/" target="_blank">Personal Website</a></h3>
      <img src="/static/img/website.png" class="image">
        <br>
                <div class='buttons'>
            <a class="port-buttons show-mobile" href="https://cjmasamitsu.com/" target="_blank">Project</a>
            <a class="port-buttons show-mobile" href="https://github.com/cjmasamitsu/portfolio-website" target="_blank">Code</a>
        </div>
        <div class="middle">
            <a href="https://github.com/cjmasamitsu/portfolio-website" target="_blank"><div class="text">Code</div></a>
        </div>
        <br>
        <p>For this project, I decied to create this website from scratch instead of using a template from a site like SquareSpace. I decided to create a website on my own to become more savvy in web development and styling languages.<br>
            <br>
        <b>Skills</b>: Python, HTML, CSS, Javascript, web development</p>
    </div>
  </div>

  <div class="column">
    <div class="port-content">
      <h3><a href="https://github.com/cjmasamitsu/cityhealth-kmeans/blob/main/README.md" target="_blank">United States Cities K-Means Clusters Based on City Health Data</a><br></h3>
      <img src="/static/img/kmeans.png" class="image">
                <div class='buttons'>
            <a class="port-buttons show-mobile" href="https://github.com/cjmasamitsu/cityhealth-kmeans/blob/main/README.md" target="_blank">Project</a>
            <a class="port-buttons show-mobile" href="https://github.com/cjmasamitsu/cityhealth-kmeans/blob/main/cityhealthdata_kmeans.R" target="_blank">Code</a>
        </div>
        <div class="middle">
            <a href="https://github.com/cjmasamitsu/cityhealth-kmeans/blob/main/cityhealthdata_kmeans.R" target="_blank"><div class="text">Code</div></a>
        </div>
        <br>
        <p>In this project, I used a dataset from the City Health Dashboard to cluster United States cities into clusters using K-Means.<br>
            <br>
        <b>Skills</b>: R, K-Means, tidyverse, dendexend, factoextra</p>
    </div>
  </div>
</div>

<!-- Row 3 -->
<div class="row">
  <div class="column">
    <div class="port-content">
      <h3>
          <a href="https://github.com/cjmasamitsu/outlier-mahalonobis-stat/blob/main/README.md" target="_blank">Outlier Detection</a></h3>
      <img src="/static/img/outlier-detection.png" class="image">
                <div class='buttons'>
            <a class="port-buttons show-mobile" href="https://github.com/cjmasamitsu/outlier-mahalonobis-stat/blob/main/README.md" target="_blank">Project</a>
            <a class="port-buttons show-mobile" href="https://github.com/cjmasamitsu/outlier-mahalonobis-stat/blob/main/outlier-detection.R" target="_blank">Code</a>
        </div>
        <div class="middle">
            <a href="https://github.com/cjmasamitsu/outlier-mahalonobis-stat/blob/main/outlier-detection.R" target="_blank"><div class="text">Code</div></a>
        </div>
        <br>
        <p>Here I used outlier detection methods to identify outliers within a dataset.<br>
            <br>
        <b>Skills</b>: R, statistical analysis, tidyverse, mvoutlier, ggplot2, mahalonobis</p>
    </div>
  </div>

  <div class="column">
    <div class="port-content">
      <h3>
          <a href="https://github.com/cjmasamitsu/feature-engineering/blob/main/README.md" target="_blank">Predicting Crime in Baltimore With Feature Engineering</a><br></h3>
      <img src="/static/img/feature-engineering.png" class="image">
        <div class='buttons'>
            <a class="port-buttons show-mobile" href="https://github.com/cjmasamitsu/feature-engineering/blob/main/README.md" target="_blank">Project</a>
            <a class="port-buttons show-mobile" href="https://github.com/cjmasamitsu/feature-engineering/blob/main/feature-engineering.R" target="_blank">Code</a>
        </div>
        <div class="middle">
            <a href="https://github.com/cjmasamitsu/feature-engineering/blob/main/feature-engineering.R" target="_blank"><div class="text">Code</div></a>
        </div>
        <br>
        <p>In this project, I feature engineerd a "violent crime" index based on several demographics in Baltimore. Next, I used this model to predict crime from 2010 to 2015, and tested the validity of the model.<br>
            <br>
        <b>Skills</b>: R, tidyverse, skimr, pastecs, rpart, rattle, data wrangling, feature engineering, prediction, decision trees</p>
    </div>
  </div>
</div>

<!-- Row 4 TBD
<div class="row">
  <div class="column">
    <div class="port-content">
      <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
  <div class="column">
    <div class="port-content">
    <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
</div>-->

<!-- Row 5 TBD
<div class="row">
  <div class="column">
    <div class="port-content">
      <img src="/w3images/mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
  <div class="column">
    <div class="port-content">
    <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
</div>-->
<!-- END GRID -->

{%endblock%}